/*
    True Blue 1.6
    http://stevelam.org/projects/trueblue/

    Core Elements
*/


/* Typography */

.blog-title, .description, h1, h2, h3, h4, h5, h6, #wp-calendar caption {
	font-family: Georgia, 'Times New Roman', serif;
}


pre, code {
	font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', monospace;
}

#header ul.headermenu {
	font-size: 1.2em;
}

#page #primary .entry-content,
body.single #primary .k2-asides .entry-content {
	font-size: 1.4em;
	color: #444;
	line-height: 1.6em;
}

.comments #commentlist .comment-content {
	line-height: 1.6em;
}

#primary .entry-content h4 {
	font-size: 1.6em;
}

#page .secondary {
	font-size: 1.2em;
}

#page .secondary .sb-asides p {
	line-height: 1.6em;
}

#footer p {
	line-height: 1.3em;
}

#footer small, small.entry-meta {
	font-size: 1.1em;
}

#wp-calendar caption {
	font-size: 1.2em;
}

/* Layout */

body {
	margin: 10px 0px;
	background: #657585;
}

#page {
	padding: 0px;
	border: none;
}

.wrapper {
	padding: 0 10px;
	margin-top: -10px;
}

#primary {
	padding: 0;
}

#widgets-top {
	margin: 0 0 2em;
}

#page .content {
	padding: 0px 10px;
}

/* Header */

#header {
	background: transparent url('../images/header_bg.jpg') repeat-x;
	position: relative;
	height: 200px;
	border: 2px solid #000;

	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#header .blog-title {
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 100px;
	left: 50px;
	text-shadow: 2px 2px 5px black;
	z-index: 50;
}

#header .description {
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 140px;
	left: 50px;
	font-size: 1.4em;
	font-style: italic;
	text-shadow: 2px 2px 2px black;
	z-index: 50;
}

#header #header-overlay {
	width: 100%;
	height: 235px;
	z-index: 10;
}

/* Header Menu */

.headermenu {
	top: 0;
	bottom: auto;
}

.menu > ul > li > a {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.menu > ul > li:hover > a,
.menu > ul > li.sfHover > a { /* Top level hover*/
	color: white;
	background-color: #999;
}


/* Primary */

#page h2 {
	margin-top: 20px;
}

#page blockquote {
	background-color: transparent;
}

#page .k2-asides blockquote {
	margin: 1em 0px;
	padding: 0px 0px 0px 20px;
	background: url('../images/quote-small.gif') left top no-repeat;
}

.page-head {
	margin: 35px 0px 10px;
}


/* Post/Page Content */

body.home #current-content .p1 {
	margin-top: 25px;
}

body.paged #current-content .p1 {
	margin-top: 0px;
}


body.home .firstpage .p1 .entry-head {
	background-color: #9cf;
}

.category-noteworthy .entry-head,
.tag-noteworthy .entry-head {
	background-color: #9cf;
}

.entry-head {
	padding: 5px 10px 10px;
	background: #ddd url('../images/entry-head_bg.png') top left no-repeat;
	margin-bottom: 1em;
}

.entry-head .entry-edit {
	top: 10px;
	right: 8px;
}
	
body.sidebars-none .entry-head {
	background: transparent;
}

pre, code {
	text-align: left;
}

/* Metadata */


.entry-meta {
	color: #999;
	background: url('../icons/time.png') no-repeat left top;
	padding-left: 20px;
}

.commentslink {
	background: url('../icons/comments.gif') left center no-repeat;
	padding: 2px 0px 2px 20px;
	white-space: nowrap;
}

.entry-head .entry-tags {
	margin-left: -20px;
	}

.entry-tags {
	background: url('../icons/tag_blue.gif') left 2px no-repeat;
	padding: 2px 0px 2px 20px;
}

/* Sidebar */

.secondary div {
	position: relative;
}

#s {
	width: 85%;
}

.secondary #searchreset {
	width: 16px;
	height: 16px;
	background: url('../icons/delete.gif') center center;
	right: 4px;
	top: 4px;
}

#searchload {
	background: url('../images/spinner.gif') no-repeat center center;
	right: 4px;
	top: 4px;	
}

.sb-pagemenu li:before,
.sb-latest li:before,
.sb-categories li:before,
.sb-months li:before,
.sb-links ul li ul li:before,
.widget_recent_entries li:before
{
	content: "\00BB \0020";
}

.sb-pagemenu .current_page_item a {
	font-weight: bold;
}

.sb-pagemenu ul {
	margin-bottom: 1em;
}

body.columns-three #sidebar-2 #wp-calendar td {
	color: #888;
}


/* Footer */

#footer {
	padding: 10px;
	color: #666;
}

#footer a {
	color: #333;
	font-weight: bold;
	border: none;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline;
}


/* Comments */

.comments {
	background: #e5f0ff;
	margin: 20px -10px 0;
	padding: 10px 20px 20px;
	border-top: 2px solid #aed2ff;
	}

body.page .comments {
	margin-bottom: -15px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	}

.comments #commentlist {
	margin: 20px 0px;
	padding: 0px;
}

.comments #commentlist .comment-content {
	padding: 0px;
}

.comments .navigation {
	background: #aed2ff;
	width: auto;
	margin: 20px -20px;
}

.comments .navigation a {
	color: #666;
	}


#commentlist .bypostauthor {
	background: #fff;
	border: 1px solid #ddd;
}

.comments #commentlist li a img.gravatar {
	float: right;
	border: 1px solid #999;
	padding: 3px;
	background: #fff;
}

.comments #commentlist li a:hover img.gravatar {
	border: 3px solid #27d;
	padding: 1px;
}

.comments #commentlist .comment-meta {
	color: #777;
	background: url('../icons/calendar.gif') left center no-repeat;
}

.comments #pinglist {
	background: transparent;
}

.comments #pinglist li {
	margin-left: 52px;
}

.comments #pinglist li span.favatar img {
	margin-left: -42px;
	max-width: 32px;
}

/* Paged Navigation */

.navigation {
	height: 20px;
	margin: 0px auto;
	padding: 5px 0px;
	position: relative;
	line-height: 20px;
}

#nav-above {
	background: #444;
/*
	left: -10px;
	width: 540px;
	padding: 0.5em 0;
*/
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	border-bottom: none;
}

#nav-below {
	background: #444;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
}

.navigation span {
	display: none;
}

.navigation a {
	color: #ccc;
}

.navigation a:hover {
	color: #fff;
}

.navigation .nav-previous {
	margin-left: 16px;
	padding-left: 24px;
	background: url('../icons/book_previous.png') left center no-repeat;
	width: auto;
}

.navigation .nav-next {
	margin-right: 16px;
	padding-right: 24px;
	background: url('../icons/book_next.png') right center no-repeat;
	width: auto;
}


/* Rolling Archives */

#primary #rollingarchives {
	background: #333;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	height: 3.0em;
	width: 100%;
}

body.smartposition #primary #rollingarchives,
body.fixraposition #primary #rollingarchives {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	margin: 0px;
	position: fixed;
	left: auto;
}

#primary .firstpage #texttrimmer,
#primary .firstpage #pagetrackwrap {
	visibility: visible;
}

#primary #rollingarchives,
#rollingarchives #rollnotices {
	border: none;
}
#rollingarchives #rollnavigation {
	position: relative;
	}

#rollingarchives #rollnavigation a {
	color: #ccc;
}

#rollingarchives #rollprevious,
#rollingarchives #rollnext,
#rollingarchives #rollpages,
#rollingarchives #rolldates,
#rollingarchives #rollload {
	color: #ccc;
}

#rollingarchives #rollprevious,
#rollingarchives #rollnext,
#rollingarchives #rollload,
#rollingarchives #rollhome,
#rollingarchives #rollpages,
#rollingarchives #rolldates {
	position: absolute;
	top: 8px;
}

#rollingarchives #rollload {
	background: url('../images/spinner.gif') no-repeat center center;
	left: 325px;
	margin: 0px;
}

#rollingarchives #rollpages {
	left: 60px;
	width: 80px;
	text-align: center;
}

#rollingarchives #rollprevious {
	padding-left: 20px;
	background: url('../icons/book_previous.png') left center no-repeat;
	width: 50px;
	display: block;
	left: 10px;
}

#rollingarchives #rollnext {
	padding-right: 20px;
	background: url('../icons/book_next.png') right center no-repeat;
	width: 50px;
	display: block;
	right: 10px;
}

#rollingarchives #rollnext:hover,
#rollingarchives #rollprevious:hover {
	color: #fff;
	background-color: transparent;
}

#rollingarchives #rollnext span,
#rollingarchives #rollprevious span {
	display: none;
}

#rollingarchives #texttrimmer {
	top: 8px;
	right: 80px;
	position: absolute;
	width: 60px;
	text-align: center;
}

#rollingarchives #pagetrack,
#rollingarchives #trimmertrack {
	margin-top: 0px;
	-moz-border-radius: 10px;
	background: #eee;
	border: 1px solid #DDDDDD;
	height: 6px;
}

#rollingarchives #pagehandle,
#rollingarchives #trimmerhandle {
	top: -4px;
	height: 15px;
	width: 15px;
	background: url('../images/slider-handle.png') center center;
}

#rollingarchives #pagetrackwrap {
	position: absolute;
	top: 12px;
	left: 150px;
	width: 160px;
}

#rollingarchives #pagetrack {
	width: 160px;
}

#rollingarchives #trimmertrackwrap {
	display: block;
	background: none;
	height: 6px;
	padding-right: 0px;
	position: absolute;
	top: 0px;
	width: 50px;
}

#rollingarchives #trimmermore,
#rollingarchives #trimmerless {
	display: none;
}

#rollingarchives #trimmermore {
	background: url('../icons/trim_more.gif') right center no-repeat;
}

#rollingarchives #trimmerless {
	background: url('../icons/trim_less.gif') left center no-repeat;
}

/* Miscellaneous */

a.more-link {
	display: block;
	margin: 1em 15px 0px 0px;
	padding: 2px 0px 2px 20px ;
	background: url('../icons/page_white_go.gif') left center no-repeat;
}

.alert {
	background: #FFF6BF url('../icons/exclamation.gif') 8px 8px no-repeat;
	border: 1px solid #FFD324;
	border-top: 4px solid #FFD324;
	text-align: left;
	margin: 10px auto;
	padding: 5px 20px 5px 32px;
}

.category-noteworthy h3.entry-title,
.tag-noteworthy h3.entry-title {
	background: url('../icons/star.gif') no-repeat right center;
	padding-right: 25px;
	display: inline;
}

.download {
	background: url('../icons/disk.gif') left top no-repeat;
	text-align: left;
	padding-left: 24px;
}

.feedlink {
	background-image: url('../icons/feed.gif');
}

/* FlickrRSS */

.sb-flickr div a img {
	padding: 3px;
	border: 1px solid #999;
	margin: 5px;
}

.sb-flickr div a:hover img {
	border: 3px solid #27d;
	padding: 1px;
}

/* Header menu */
/*
#dropdown {
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 500;
	}

ul.menu {
	margin: 0px 10px;
	position: relative;
	}

#dropdown ul {
	float: left;
	list-style: none;
	line-height: 1;
	}

ul.menu li {
	display: block;
	float: left;
	position: relative;
	text-align: left;
	margin-right: 5px;
	border-bottom: transparent 2px solid;
	}

ul.menu ul li:hover,
ul.menu ul li.sfhover {
	background-color: #666;
	cursor: pointer;
	}

ul.menu li ul {
	background-color: #333;
	height: auto;
	left: -999em;
	position: absolute;
	margin-top: 3px;

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	}

ul.menu li li {
	float: none;
	margin: 5px 0px;
	width: 14em;
	height: auto;
	}

ul.menu li li ul {
	margin-left: 14em;
	margin-top: -5px;
	top: 0;
	background-color: #444;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}

ul.menu a {
	color: #ccc;
	display: block;
	text-decoration: none;
	padding: 7px 10px 5px;
	}

ul.menu li.has_children a {
	padding-right: 0px;	
	}

ul.menu li:hover a,
ul.menu li.sfhover a {
	color: white;
	border-color: #666;
	}

ul.menu ul li {
	border-bottom: none;
	}


ul.menu li.current_page_item,
ul.menu li.current_page_ancestor {
	border-color: #ccc;
	}

ul.menu li:hover ul ul,
ul.menu li:hover ul ul ul {
	left: -999em;
}

ul.menu li:hover ul,
ul.menu li li:hover ul,
ul.menu li li li:hover ul,
ul.menu li.sfhover ul,
ul.menu li.sfhover li.sfhover ul,
ul.menu li.sfhover li.sfhover li.sfhover ul {
	left: auto;
}

ul.menu li li.current_page_item,
ul.menu li li.current_page_item:hover a,
ul.menu li li.current_page_ancestor a,
ul.menu li li.current_page_ancestor:hover a,
ul.menu li:hover,
ul.menu li.sfhover {
	background-color: #333;
	}

ul.menu li.has_children,
ul.menu ul li {
	padding-right: 16px;
	}

ul.menu li.has_children {
	background-image: url('images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right center;
	}

ul.menu li.has_children li {
	background-image: none;
	}

ul.menu ul li.has_children {
	background-image: url('images/bullet_go.png');
	}

ul.menu li.sfhover {
	border-color: #666;
	}
*/